/* my css sheet */


.navbar-brand {

    
   
}

.lat_summary {



}

#indextemp {
    float: center;
    width: 700px;
    height: 550px;
    margin-top: 25px;
    margin-bottom: 25px;


}
#latlogo {
    margin: 500px, 500px, 500px, 500px;

}